body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.header{
    background-color:darkgreen;
    color: white;
    padding: 5px;
    text-align: center;
    text-shadow: 3px 3px red;
}
.menu ul{
    list-style-type: none;
}
.menu ul a{
    color:darkgreen;
    text-decoration: none;
    padding: 1%;
}
.menu ul a:hover{
    background-color:darkgreen;
    color: white;
}
.menu ul a li{
    display: inline;
}
h2{
    text-align: center;
    color: darkgreen;
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow:0 0 10px  rgb(172, 169, 169);
}


section h2 {
    font-size: 2em;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

section p {
    font-size: 1.2em;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

.footer{
    background-color: darkgreen;
    color: white;
    padding: 3px;
}
.footer p{
    text-align: center;
}
.footer p a{
    color: lightblue;
}
.footer p a:hover{
    text-decoration: none;
}
